
/* 4 - external  */
body{
    padding-bottom: 50px;
}
h3{
    color: green;
}

P{
    color: blueviolet;
}
/* 5 - mais um comentario */
/* 6 - classes */
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}